* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

body {
  background-color: #333;
}

/* estilos del preload */

.loader-title {
  color: rgb(255, 164, 28);
  margin-top: 180px;
  font-size: 55px;
  font-weight: 800;
  text-align: center;
}

#preloader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgb(255, 0, 106) 45%,rgb(0, 0, 0));
  z-index: 9999;
  height: 100%;
  width: 100%;
}

#status {
  background: url(../assets/images/shin-chan.gif_c200);
  background-position: center;
  background-repeat: no-repeat;
  width: 920px;
  height: 532px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -480px;
}

/* estilos de pagina principal */

.title-principal {
  color: rgb(255, 164, 28);
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 800;
}

.subtitle {
  color: rgb(255, 164, 28);
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 800;
}

.yellow-line {
  width: 100%;
  margin-top: 15px;
  border: 1px solid rgb(255, 164, 28);
}

/* estilos del input */

.input-group {
  padding: 1em;
  max-width: 500px;
  min-width: 250px;
  margin: 0 auto;
}

.glyphicon {
  top: 0;
}
